// Color Variables
$lightgrey: #F6F6F6;
$grey: #999;
$darkgrey: #5c5962;
$primary: #003da5;
$br1: #0076A5;
$br2: #4298B5;
$br3: #71B2C9;
$br4: #AFCDD7;
$forest: #7F9C90;
$river: #3F6C7D;
$nightSky: #003865;
$gold: #BD9B60;
$chestnut: #7C4D3A;
$mapleRed: #A6192E;
$honeyBee: #EBBC4E;
$autumn: #E6A65D;
$clay: #C26E60;
